.catalog {
  display: grid;
  justify-content: center;
  gap: $card-gap;

  @each $repeat, $min-width in $window-size{
    @media (min-width: $min-width) {
      grid-template-columns: repeat($repeat, $card-width);
    }
  }

  max-width: 944px;
  margin: 0 auto;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $card-width;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
